.social-login
    button.social-login--github
        span
            i.fab.fa-github 
        |Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook 
        |Continue with Facebook