.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input:not([type="file"]),
    .fileUpload {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    textarea {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 25px;
    }
    input[type="submit"] {
      background-color: #3498db;
      color: white;
    }
  }
  a {
    max-width: 320px;
    width: 100%;
  }
  .fileUpload {
    label {
      font-weight: 300;
      margin-right: 10px;
    }
  }
}
