extends layouts/main

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post")
            .fileUpload
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar")
            input(type="text", placeholder="Name", name="name")
            input(type="email", placeholder="Email", name="email")
            input(type="submit", value="Update Profile")
        a.form-container__link(href=`/users${routes.changePassword}`)
            button Change Password