extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name")        
            input(type="email", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="Password")
            input(type="password", name="password2", placeholder="Verify Password")
            input(type="submit",value="Join Now")
        include partials/socialLogin
