extends layouts/main

block content
    .form-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="submit",value="Log In")
        include partials/socialLogin
