@import "config/_variables.scss";
@import "config/reset.scss";
@import "main.scss";

@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/form.scss";
@import "partials/socialLogin.scss";
