.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
  }
}
