.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
}
