html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.u-avatar {
  height: 80px;
  background-color: #ea232c;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  color: #444444;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none; }
  button::-webkit-input-placeholder,
  input:not([type="file"])::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  .fileUpload::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-moz-placeholder,
  input:not([type="file"]):-moz-placeholder,
  textarea:-moz-placeholder,
  .fileUpload:-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-moz-placeholder,
  input:not([type="file"])::-moz-placeholder,
  textarea::-moz-placeholder,
  .fileUpload::-moz-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button:-ms-input-placeholder,
  input:not([type="file"]):-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  .fileUpload:-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::-ms-input-placeholder,
  input:not([type="file"])::-ms-input-placeholder,
  textarea::-ms-input-placeholder,
  .fileUpload::-ms-input-placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
  button::placeholder,
  input:not([type="file"])::placeholder,
  textarea::placeholder,
  .fileUpload::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }

button {
  border: none;
  background-color: #3498db;
  color: white; }

button.delete {
  background-color: #bb2f2a; }

button,
input[type="submit"] {
  cursor: pointer; }

.header {
  background-color: #ea232c;
  margin-bottom: 50px; }
  .header .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header__wrapper .header__column i {
      color: white;
      font-size: 30px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      color: white;
      font-weight: 600;
      text-transform: uppercase; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        padding: 7px 10px;
        width: 100%;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        font-size: 14px;
        color: #444444;
        font-weight: 600;
        max-width: none; }
        .header .header__wrapper .header__column form input::-webkit-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }

.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .footer__icon {
    color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    margin-bottom: 20px; }
  .footer .footer__text {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 25px; }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }
  .form-container a {
    max-width: 320px;
    width: 100%; }
  .form-container .fileUpload label {
    font-weight: 300;
    margin-right: 10px; }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 20px; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }
  .social-login .social-login--facebook {
    background-color: #3a5998;
    color: white; }

.videoBlock video {
  margin-bottom: 10px;
  max-width: 100%; }

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px; }

.videoPlayer {
  position: relative; }
  .videoPlayer:hover .videoPlayer__controls {
    opacity: 1; }
  .videoPlayer video {
    width: 100%;
    max-width: 100%; }
  .videoPlayer .videoPlayer__controls {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .videoPlayer .videoPlayer__controls .videoPlayer__column:first-child span:first-child {
        margin-right: 10px; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:last-child {
      justify-self: end; }
    .videoPlayer .videoPlayer__controls .videoPlayer__column:nth-child(2) {
      justify-self: center; }
    .videoPlayer .videoPlayer__controls i {
      font-size: 25px;
      cursor: pointer; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px; }
    .video-detail__container .video__info button {
      width: 100px;
      margin-bottom: 25px; }
    .video-detail__container .video__info .video__author a {
      color: #3498db; }
    .video-detail__container .video__info .video__title,
    .video-detail__container .video__info .video__views,
    .video-detail__container .video__info .video__description {
      display: block;
      margin-bottom: 15px; }
    .video-detail__container .video__info .video__title {
      font-size: 22px;
      font-weight: 300; }
    .video-detail__container .video__info .video__views {
      font-size: 14px; }
    .video-detail__container .video__info .video__description {
      font-size: 16px; }
  .video-detail__container .video__comments {
    margin-top: 25px; }
    .video-detail__container .video__comments .video__comment-number {
      font-size: 18px; }

.user-profile {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .user-profile .user-profile__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
    margin-bottom: 50px; }
    .user-profile .user-profile__header .profile__username {
      font-size: 18px;
      margin-top: 15px; }
  .user-profile .user-profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user-profile .user-profile__btns a:not(:last-child) {
      margin-bottom: 20px; }
